<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Neural net playround</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <link rel="stylesheet" href="neural-net.css">
    </head>

    <body>

        <h1>Exploring Neural Nets</h1>

        <div id="neural-net">
            <section class="layer">
                <span class="card highlight">
                    <label class="slider-label" for="input-1">Input x<sub>1</sub> = {{ input1 }}</label>
                    <div class="card-body">
                        <input id="input-1" type="range" min="-1" max="1" step="0.01" v-model="input1" />
                    </div>
                </span>
            </section>

            <section class="layer">
                <span class="card">
                    <label class="slider-label" for="weight-1a">Weight w<sub>1a</sub> = {{ weight1a }}</label>
                    <div class="card-body">
                        <input id="weight-1a" type="range" :min="minWeight" :max="maxWeight" step="0.1" v-model="weight1a" />
                        <br>
                        <span>Result = {{ weight1a }} &times; <span class="highlight">{{ input1 }}</span> = {{ round(input1 * weight1a) }}</span>
                    </div>
                </span>
            
                <span class="card">
                    <label class="slider-label" for="weight-1b">Weight w<sub>1b</sub> = {{ weight1b }}</label>
                    <div class="card-body">
                        <input id="weight-1b" type="range" :min="minWeight" :max="maxWeight" step="0.1" v-model="weight1b" />
                        <br>
                        <span>Result = {{ weight1b }} &times; <span class="highlight">{{ input1 }}</span> = {{ round(input1 * weight1b) }}</span>
                    </div>
                </span>
            </section>

            <section class="layer">
                <neuron-graph function="sigmoid" :input="input1" :weight="weight1a" :bias="bias1a" :label="1"></neuron-graph>
                <neuron-graph function="sigmoid" :input="input1" :weight="weight1b" :bias="bias1b" :label="2"></neuron-graph>
            </section>
        </div>

        <script type="text/x-template" id="neuron-graph-el">
            <span class="card">
                <div class="card-body">
                    <svg class="graph" viewBox="-5 -15 225 130">
                        <g class="gridlines">
                            <path d="M-3 0 h203m0 50h-203m0 50h203"/>
                            <path d="M0 0v103m20 0v-103m20 0v103m20 0v-103m20 0v103m20 0v-103m20 0v103m20 0v-103m20 0v103m20 0v-103m20 0v103"/>
                        </g>
                        <g class="labels">
                            <g class="y-labels">
                                <text x="-4" y="0">1</text> 
                                <text x="-4" y="50">0.5</text>
                                <text x="-4" y="100">0</text>
                            </g>
                            <g class="x-labels">
                                <text x="0" y="105">-10</text>
                                <text x="20" y="105">-8</text>
                                <text x="40" y="105">-6</text>
                                <text x="60" y="105">-4</text>
                                <text x="80" y="105">-2</text>
                                <text x="100" y="105">0</text>
                                <text x="120" y="105">2</text>
                                <text x="140" y="105">4</text>
                                <text x="160" y="105">6</text>
                                <text x="180" y="105">8</text>
                                <text x="200" y="105">10</text>
                            </g>
                            <text x="205" :y="scaleY(output)" class="output">{{ round(output) }}</text>
                        </g>

                        <rect class="input-domain" :x="domainX" y="-12" :width="domainWidth" height="8"/>

                        <circle class="input-point" :cx="inputX" cy="-8" r="4" />
                        <path class="plot-line" :d="path"/>
                        
                        <line class="graph-highlight" :x1="inputX" :x2="inputX" y1="-7" y2="100" />
                        <line class="graph-highlight" :x1="0" :x2="203" :y1="scaleY(output)" :y2="scaleY(output)" />
                    </svg>

                    <div>
                        <label for="bias">Bias b<sub>{{ label }}</sub> = {{ biasModel }}</label>
                        <br>
                        <input id="bias" type="range" :min="minBias" :max="maxBias" step="0.1" v-model="biasModel" />
                    </div>
                </div>
            </span>
        </script>

        <script src="components/neuron-graph.js"></script>
        <script src="neural-net.js"></script>

    </body>
</html>